- Ordered sequences that can hold varitey of object types
- [] indicates a list
- , seperates objects in the list
- List support indexing and slicing 
- List can be nested and can have methods called from them

In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
#list can have any data type
my_list = ['STRING', 100, 23.2]

In [4]:
my_list

['STRING', 100, 23.2]

In [5]:
#len will return number of items in a list
len(my_list)

3

In [6]:
#indexing works same as in string
my_list[0]

'STRING'

In [7]:
my_list[1:]

[100, 23.2]

In [8]:
#list concat works same as string
my_list_2 = [1,2,3,4,5]

In [9]:
my_list + my_list_2

['STRING', 100, 23.2, 1, 2, 3, 4, 5]

In [10]:
new_list = my_list + my_list_2

In [11]:
print(my_list)
print(my_list_2)
print(new_list)

['STRING', 100, 23.2]
[1, 2, 3, 4, 5]
['STRING', 100, 23.2, 1, 2, 3, 4, 5]

In [13]:
my_list
my_list_2

[1, 2, 3, 4, 5]

In [14]:
#unlike string list are mutable
new_list

['STRING', 100, 23.2, 1, 2, 3, 4, 5]

In [15]:
#following code says set item at position 0 to new value
new_list[0] = 'modified'

In [16]:
new_list

['modified', 100, 23.2, 1, 2, 3, 4, 5]

In [17]:
#you can add new items to the list hit tab after period 
#for list of options 
new_list.append('append_item')

In [18]:
new_list

['modified', 100, 23.2, 1, 2, 3, 4, 5, 'append_item']

In [30]:
#use pop to remove item from a list
#pop will pop an object from the end of the list
new_list.pop()

'append_item'

In [31]:
#you can pass index position into pop to pop and item at an index
new_list.pop(0)

'modified'

In [32]:
#sort is an inplace method and does not return anything 
#it will sort the existing list
str_list = ['z','g','b','o','a']
num_list = ['1','3','2','10','5']

In [33]:
str_list.sort()

In [34]:
str_list

['a', 'b', 'g', 'o', 'z']

 NoneType is type of None object

In [35]:
print(num_list)
num_list.sort()
num_list

['1', '3', '2', '10', '5']

['1', '10', '2', '3', '5']

In [36]:
#You can reverse a list using reverse
print(num_list)
num_list.reverse()

['1', '10', '2', '3', '5']

In [37]:
num_list

['5', '3', '2', '10', '1']

In [38]:
rev_new_list = [1,2,10,3,5]

In [39]:
rev_new_list.reverse()

In [40]:
rev_new_list

[5, 3, 10, 2, 1]

In [42]:
rev_new_list.sort()

In [43]:
rev_new_list

[1, 2, 3, 5, 10]

In [44]:
rev_new_list.reverse()

In [45]:
rev_new_list

[10, 5, 3, 2, 1]

List Comprehensions

- Allows you to quickly create a list with in Python 
- Example: if you are using a while loop with .append() to create a list then list comprehension are good alternative

In [1]:
mystring = 'hello'

In [2]:
mylist = []

In [3]:
for l in mystring:
    mylist.append(l)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [l for l in mystring]

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist2 = [x for x in 'word']

In [9]:
mylist2

['w', 'o', 'r', 'd']

In [10]:
mylist3 = [num for num in range(0,11)]

In [11]:
mylist3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
mylist3 = [num**2 for num in range(0,11)]

In [14]:
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
myevenlist = [x for x in range(0,11) if x%2==0]

In [16]:
myevenlist

[0, 2, 4, 6, 8, 10]

In [17]:
temp_celcius = [0,10,20,30,40,50,60,70,80,90]

#for loop to convert the temp in fahrenhite
# fahrenhite = []
#for temp in temp_celcius:
#    temp_fahrenhite.append(((9/5)*temp + 32)) 
temp_fahrenhheit = [((9/5)*temp + 32) for temp in temp_celcius]

In [18]:
temp_fahrenhheit

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0, 194.0]

In [19]:
fahrenhite = []
for temp in temp_celcius:
    fahrenhite.append(((9/5)*temp + 32))

In [20]:
fahrenhite

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0, 194.0]

In [21]:
results = [x if x%2 ==0 else 'ODD' for x in range(0,11)]

In [22]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [23]:
nested_list = []

for x in [2,4,6]:
    for y in [100,200,300]:
        nested_list.append(x*y)

In [24]:
nested_list

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [25]:
nested_list_1 = [x*y for x in [2,4,6] for y in [1,10,100]]

In [26]:
nested_list_1

[2, 20, 200, 4, 40, 400, 6, 60, 600]