Tuples are similar to list but they are immutable. 
- They can not be changed 
- Once element is inside a tuple it can not be re assigned 
- () represents a tuple (1,2,3)

In [1]:
tup = (1,2,3)
my_list = [1,2,3]

In [2]:
type(tup)

tuple

In [3]:
type(my_list)

list

In [4]:
len(tup)

3

In [5]:
len(my_list)

3

In [6]:
#you can have mixed object types in tuple 
tup[0]

1

In [7]:
tup.count('a')

0

In [8]:
tup = ('a', 'a', 'a','b')

In [9]:
tup.count('a')

3

In [11]:
#index will return only the first index of the object
tup.index('a')

0

In [12]:
tup.index('b')

3

In [13]:
t = ([1,2,3], 4)

In [14]:
t

([1, 2, 3], 4)

In [15]:
t[0][1] = 3

In [16]:
t

([1, 3, 3], 4)